<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Component</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="../css/main.css">

</head>

<body>

    <div id="component">
        <div class="row wrapper">
            <div class="col-md-4 col-lg-3 img-wrapper">
                <img src="../img/component-img.png" alt="">
            </div>
            <div class="col-md-8 col-lg-9 content-wrapper">
                <div class="role-wrapper">
                    <p class="role">UI UX Design</p>
                </div>
                <p class="title">
                    John's amazing business course
                </p>
                <p class="subtitle">
                    Rorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu turpis molestie, dictum est a, mattis tellus. Sed dignissim, metus nec fringilla accumsan.
                </p>
            </div>
        </div>
        <div class="options">
            <button>
                <img src="../img/icons/option.svg" alt="">
            </button>
        </div>
    </div>


</body>

</html>